//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 05 18:33:14 2020
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "R4" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "G2" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "F1" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "J1" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "H2" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "E2" LEVEL 1;
COMP "LED<19>" LOCATE = SITE "L3" LEVEL 1;
COMP "LED<16>" LOCATE = SITE "G4" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "K1" LEVEL 1;
COMP "LED<18>" LOCATE = SITE "G3" LEVEL 1;
COMP "LED<17>" LOCATE = SITE "K4" LEVEL 1;
COMP "LED<22>" LOCATE = SITE "E1" LEVEL 1;
COMP "LED<21>" LOCATE = SITE "D2" LEVEL 1;
COMP "LED<24>" LOCATE = SITE "J2" LEVEL 1;
COMP "LED<23>" LOCATE = SITE "G1" LEVEL 1;
COMP "LED<20>" LOCATE = SITE "A1" LEVEL 1;
COMP "LED<29>" LOCATE = SITE "P1" LEVEL 1;
COMP "LED<26>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<25>" LOCATE = SITE "L1" LEVEL 1;
COMP "LED<28>" LOCATE = SITE "N2" LEVEL 1;
COMP "LED<27>" LOCATE = SITE "M1" LEVEL 1;
COMP "LED<31>" LOCATE = SITE "R1" LEVEL 1;
COMP "LED<30>" LOCATE = SITE "P2" LEVEL 1;
COMP "change1" LOCATE = SITE "AB6" LEVEL 1;
COMP "change2" LOCATE = SITE "T5" LEVEL 1;
COMP "change3" LOCATE = SITE "V8" LEVEL 1;
COMP "change4" LOCATE = SITE "AA8" LEVEL 1;
COMP "clka" LOCATE = SITE "H4" LEVEL 1;
PIN clka_pin<0> = BEL "clka" PINNAME PAD;
PIN "clka_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk" LOCATE = SITE "AA4" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED<0>" LOCATE = SITE "J4" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "M3" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "N3" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "B2" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "B1" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "D1" LEVEL 1;
SCHEMATIC END;

