
# PlanAhead Generated IO constraints 

NET "LED[31]" IOSTANDARD = LVCMOS18;
NET "LED[30]" IOSTANDARD = LVCMOS18;
NET "LED[29]" IOSTANDARD = LVCMOS18;
NET "LED[28]" IOSTANDARD = LVCMOS18;
NET "LED[27]" IOSTANDARD = LVCMOS18;
NET "LED[26]" IOSTANDARD = LVCMOS18;
NET "LED[25]" IOSTANDARD = LVCMOS18;
NET "LED[24]" IOSTANDARD = LVCMOS18;
NET "LED[23]" IOSTANDARD = LVCMOS18;
NET "LED[22]" IOSTANDARD = LVCMOS18;
NET "LED[21]" IOSTANDARD = LVCMOS18;
NET "LED[20]" IOSTANDARD = LVCMOS18;
NET "LED[19]" IOSTANDARD = LVCMOS18;
NET "LED[18]" IOSTANDARD = LVCMOS18;
NET "LED[17]" IOSTANDARD = LVCMOS18;
NET "LED[16]" IOSTANDARD = LVCMOS18;
NET "LED[15]" IOSTANDARD = LVCMOS18;
NET "LED[14]" IOSTANDARD = LVCMOS18;
NET "LED[13]" IOSTANDARD = LVCMOS18;
NET "LED[12]" IOSTANDARD = LVCMOS18;
NET "LED[11]" IOSTANDARD = LVCMOS18;
NET "LED[10]" IOSTANDARD = LVCMOS18;
NET "LED[9]" IOSTANDARD = LVCMOS18;
NET "LED[8]" IOSTANDARD = LVCMOS18;
NET "LED[7]" IOSTANDARD = LVCMOS18;
NET "LED[6]" IOSTANDARD = LVCMOS18;
NET "LED[5]" IOSTANDARD = LVCMOS18;
NET "LED[4]" IOSTANDARD = LVCMOS18;
NET "LED[3]" IOSTANDARD = LVCMOS18;
NET "LED[2]" IOSTANDARD = LVCMOS18;
NET "LED[1]" IOSTANDARD = LVCMOS18;
NET "LED[0]" IOSTANDARD = LVCMOS18;
NET "change2" IOSTANDARD = LVCMOS18;
NET "change1" IOSTANDARD = LVCMOS18;
NET "change3" IOSTANDARD = LVCMOS18;
NET "change4" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "clka" IOSTANDARD = LVCMOS18;
NET "rst" IOSTANDARD = LVCMOS18;
NET "change1" PULLDOWN;
NET "change2" PULLDOWN;
NET "change3" PULLDOWN;
NET "change4" PULLDOWN;
NET "clk" PULLDOWN;
NET "clka" PULLDOWN;
NET "rst" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "clka" LOC = H4;
NET "rst" LOC = R4;
NET "clk" LOC = AA4;
NET "change1" LOC = AB6;
NET "change2" LOC = T5;
NET "change3" LOC = V8;
NET "change4" LOC = AA8;
NET "LED[31]" LOC = R1;
NET "LED[30]" LOC = P2;
NET "LED[29]" LOC = P1;
NET "LED[28]" LOC = N2;
NET "LED[27]" LOC = M1;
NET "LED[26]" LOC = M2;
NET "LED[25]" LOC = L1;
NET "LED[24]" LOC = J2;
NET "LED[23]" LOC = G1;
NET "LED[22]" LOC = E1;
NET "LED[21]" LOC = D2;
NET "LED[20]" LOC = A1;
NET "LED[19]" LOC = L3;
NET "LED[18]" LOC = G3;
NET "LED[17]" LOC = K4;
NET "LED[16]" LOC = G4;
NET "LED[15]" LOC = K1;
NET "LED[14]" LOC = J1;
NET "LED[13]" LOC = H2;
NET "LED[12]" LOC = G2;
NET "LED[11]" LOC = F1;
NET "LED[10]" LOC = E2;
NET "LED[9]" LOC = D1;
NET "LED[8]" LOC = B1;
NET "LED[7]" LOC = B2;
NET "LED[6]" LOC = N3;
NET "LED[5]" LOC = M3;
NET "LED[4]" LOC = K3;
NET "LED[3]" LOC = H3;
NET "LED[2]" LOC = N4;
NET "LED[1]" LOC = L4;
NET "LED[0]" LOC = J4;

NET "clka" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;